

#sidebar,
#a,
#d,
#e,
#f,
#q,
#g,
#ag,
#r {
	background-color: rgb(190,190,33);
	color: white;
}

#a:hover, #d:hover, #e:hover, #f:hover, #q:hover, #g:hover, #ag:hover, #r:hover{
	background-color:rgb(155,155,155);
}

#username {
	color:white;
}

.header {
	background-color: rgb(190,158,33);
	color: white;
}

