#div_caixa {
	border-style: solid;
	border-color: black;
	margin: 10px;
	padding: 12px;
}

#div_consulta {
	color: black;
}

#div_titulo {
	text-align: center;
	color: black;
}

#div_linha_inicial {
	border-bottom-style: solid;
	border-bottom-color: black;
}

#btn_consultar {
	float:right;
}